body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background-color: #ecf0f1;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input[type="text"] {
  width: 100%;
  padding: 5px;
  line-height: 20px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  outline-style: none;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  /* -webkit-transition: width 0.4s ease-in-out;
  transition: border 0.4s ease-in-out; */
}

/* 
input[type="text"]:hover {
  border-bottom: 2px solid #ffffff;
}
input[type="text"]:focus {
  border-bottom: 2px solid #ffffff;
} */

input::placeholder:focus {
  display: none;
  font-size: 32px;
}

input::placeholder {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}
.clicked {
  color: #7f8c8d;
}

.form,
.username,
.greetings,
.focus {
  display: none;
}

.showing {
  display: flex;
}

.drReverse {
  flex-direction: row;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
