@import "reset.css";
@import "clock.css";
@import "focus.css";
@import "greeting.css";
@import "weather.css";
@import "todo.css";
@import "background.css";
@import "shared.css";
@import "flags/flags.css";
@import "flags/flags.min.css";
